WebRoot/WEB-INF/wsdl/BankServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bank.plat.com/" targetNamespace="http://bank.plat.com/" version="1.0">

  <xs:element name="pay" type="tns:pay"/>

  <xs:element name="payResponse" type="tns:payResponse"/>

  <xs:complexType name="pay">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="payResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
